<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--typeAliases 설정 -->
	<typeAliases>
		<!--admin -->
		<!-- <typeAlias type="com.main.admin.order.VO.OrderVO"
			alias="OrderVO" /> -->
		<typeAlias type="com.main.admin.product.VO.ProductVO"
			alias="ProductVO" />
		<typeAlias type="com.main.admin.product.VO.BigCategoryVO"
			alias="BigCategoryVO" />
		<typeAlias type="com.main.admin.product.VO.SmallCategoryVO"
			alias="SmallCategoryVO" />
		<!--customer -->
		<typeAlias
			type="com.main.customer.board.VO.InquiryCategoryVO"
			alias="InquiryCategoryVO" />
		<typeAlias
			type="com.main.customer.board.VO.InquiryVO"
			alias="InquiryVO" />
		<typeAlias
			type="com.main.customer.board.VO.InquiryQuestionCategoryVO"
			alias="InquiryQuestionCategoryVO" />
		<typeAlias
			type="com.main.customer.board.VO.ReplyVO" alias="ReplyVO" />
		<typeAlias 
			type="com.main.admin.product.VO.Product_OrderVO" alias="OrderVO"/>
		<typeAlias
			type="com.main.admin.product.VO.Product_BasketVO" alias="BasketVO" />
		<typeAlias
			type="com.main.customer.board.VO.ReviewVO" alias="ReviewVO" />
		
		</typeAliases>

	<!--DataSource 설정 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="net.sf.log4jdbc.DriverSpy" />
				<property name="url"
					value="jdbc:log4jdbc:oracle:thin:@mydatabase.cneupgctltbi.ap-northeast-2.rds.amazonaws.com:1521:ORCL" />
				<property name="username" value="admin" />
				<property name="password" value="asdf1234" />
			</dataSource>
		</environment>
	</environments>

	<!--Sql Mapper 설정 -->
	<mappers>
		<!--위치값을 줄때 루트 폴터는 resources 폴더 -->
		<!--admin -->
		<!--board -->
		<!--member -->
		<mapper resource="myBatis/admin/member/deleteMemberSql.xml"/>
		<mapper resource="myBatis/admin/member/selectListMemberSql.xml"/>
		<!--order -->
		<mapper resource="myBatis/admin/order/selectOrderSql.xml" />
		<mapper resource="myBatis/admin/order/updateOrderSql.xml" />
		<!--payment -->
		<!--product -->
		<mapper resource="myBatis/admin/product/insertCategorySql.xml" />
		<mapper resource="myBatis/admin/product/selectCategorySql.xml" />
		<mapper resource="myBatis/admin/product/updateCategorySql.xml" />
		<mapper resource="myBatis/admin/product/deleteCategorySql.xml" />
		<mapper resource="myBatis/admin/product/insertProductSql.xml" />
		<mapper resource="myBatis/admin/product/selectProductListSql.xml" />
		<mapper resource="myBatis/admin/product/updateProductSql.xml" />
		<mapper resource="myBatis/admin/product/deleteProductSql.xml" />
		<!--customer -->
		<!--board -->
		<mapper
			resource="myBatis/customer/board/inquiryCategorySql.xml" />
		<mapper
			resource="myBatis/customer/board/inquiryQuestionCategorySql.xml" />
		<mapper
			resource="myBatis/customer/board/productInquiryBoardSql.xml" />
		<mapper
			resource="myBatis/customer/board/productReviewBoardSql.xml" />
		<!--header -->
		<mapper
			resource="myBatis/customer/header/selectBigCodeNameSql.xml" />
		<mapper
			resource="myBatis/customer/header/selectSmallCodeNameSql.xml" />
		<mapper
			resource="myBatis/customer/header/selectSmallProductSql.xml" />
		<!--main -->
		<mapper
			resource="myBatis/customer/main/selectBestProductSql.xml" />
		<mapper
			resource="myBatis/customer/main/selectNewProductSql.xml" />
		<mapper
			resource="myBatis/customer/main/selectRecomProductSql.xml" />
		<!--member -->
		<mapper resource="myBatis/customer/member/insertMemberSql.xml" />
		<mapper resource="myBatis/customer/member/loginSql.xml" />
		<mapper resource="myBatis/customer/member/selectFindIdSql.xml"/>
		<mapper resource="myBatis/customer/member/selectFindPasswordSql.xml"/>
		<mapper resource="myBatis/customer/member/deleteMyProfileSql.xml"/>
		<mapper resource="myBatis/customer/member/updateMyProfileSql.xml"/>
		<!--order -->
		<mapper resource="myBatis/customer/myPage/selectMyPageOrderSql.xml" />
		<mapper resource="myBatis/customer/myPage/updateMyPageOrderSql.xml" />
		<!--payment -->
		<mapper resource="myBatis/customer/payment/insertPaymentSql.xml"/>
		<mapper resource="myBatis/customer/payment/selectMemberPointSql.xml"/> 
		<mapper resource="myBatis/customer/payment/deleteProductBasketSql.xml"/>
		<!--product -->
		<mapper resource="myBatis/customer/product/selectBigCodeNameSql.xml" />
		<mapper resource="myBatis/customer/product/selectBigCodeProductListSql.xml" />
		<mapper resource="myBatis/customer/product/selectProductDetail.xml" />
		<mapper resource="myBatis/customer/product/selectProductOrderList.xml" />
		<mapper resource="myBatis/customer/product/selectSmallCodeNameSql.xml" />
		<mapper resource="myBatis/customer/product/selectSmallCodeProductListSql.xml" />
		<mapper resource="myBatis/customer/product/deleteProductBasketSql.xml"/>
		<mapper resource="myBatis/customer/product/updateProductBasketSql.xml"/>
		<mapper resource="myBatis/customer/product/selectPaymentBasketSql.xml"/>
		<mapper resource="myBatis/customer/product/insertProductBasketSql.xml" />
		<mapper resource="myBatis/customer/product/selectProductBasketSql.xml"/>
				
		<!-- <mapper resource="myBatis/customer/product/selectDetailPageListSql.xml" /> -->		
	</mappers>
</configuration>