<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.main.admin.product.VO.ProductVO"
			alias="ProductVO" />
		<typeAlias type="com.main.admin.product.VO.CategoryVO"
			alias="CategoryVO" />
		<typeAlias type="com.main.admin.product.VO.CategorySVO"
			alias="CategorySVO" />
		<typeAlias
			type="com.main.customer.productInquiry.VO.InquiryCategoryVO"
			alias="InquiryCategoryVO" />
		<typeAlias
			type="com.main.customer.productInquiry.VO.InquiryVO"
			alias="InquiryVO" />
		<typeAlias
			type="com.main.customer.productInquiry.VO.InquiryQuestionCategoryVO"
			alias="InquiryQuestionCategoryVO" />
		<typeAlias
			type="com.main.customer.productInquiry.VO.ReplyVO" alias="ReplyVO" />

	</typeAliases>
	<!--DataSource 설정 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="net.sf.log4jdbc.DriverSpy" />
				<property name="url"
					value="jdbc:log4jdbc:oracle:thin:@mydatabase.cneupgctltbi.ap-northeast-2.rds.amazonaws.com:1521:ORCL" />
				<property name="username" value="admin" />
				<property name="password" value="asdf1234" />
			</dataSource>
		</environment>
	</environments>

	<!--Sql Mapper 설정 -->
	<mappers>
		<!-- 위치값을 줄때 루트 폴터는 resources 폴더이다. -->
		<mapper resource="myBatis/customer/member/insertMemberSql.xml" />
		<mapper resource="myBatis/customer/member/loginSql.xml" />
		<mapper
			resource="myBatis/customer/product/InquiryCategorySql.xml" />
		<mapper
			resource="myBatis/admin/productReg/insertProductSql.xml" />
			<mapper
			resource="myBatis/customer/product/InquiryQuestionCategorySql.xml" />
		<mapper
			resource="myBatis/admin/productReg/selectProductListSql.xml" />
		<mapper
			resource="myBatis/admin/productReg/selectCategorySql.xml" />
		<mapper
			resource="myBatis/admin/productReg/insertCategorySql.xml" />
			 <mapper 
		resource="myBatis/customer/product/productInquiryBoardSql.xml" /> 
		<mapper
			resource="myBatis/admin/productReg/deleteCategorySql.xml" />
		<mapper
			resource="myBatis/admin/productReg/updateCategorySql.xml" />
		<mapper resource="myBatis/admin/order/SelectOrderSql.xml" />
		<mapper resource="myBatis/admin/order/UpdateOrderSql.xml" />
		<mapper
			resource="myBatis/customer/main/selectBestProductSql.xml" />
		<mapper
			resource="myBatis/customer/main/selectNewProductSql.xml" />
		<mapper
			resource="myBatis/customer/main/selectRecomProductSql.xml" />
		<mapper
			resource="myBatis/customer/product/selectBigCodeProductListSql.xml" />
		<mapper
			resource="myBatis/customer/product/selectBigCodeNameSql.xml" />
		<mapper
			resource="myBatis/customer/product/selectSmallCodeNameSql.xml" />
		<mapper
			resource="myBatis/customer/product/selectSmallCodeProductListSql.xml" />
		<mapper
			resource="myBatis/customer/product/selectSBigCodeNameSql.xml" />
		<mapper
			resource="myBatis/customer/product/selectSSmallCodeNameSql.xml" />
		<mapper
			resource="myBatis/customer/header/selectSmallProductSqlA.xml" />
	</mappers>
</configuration>