@charset "UTF-8";

input.btn_list {
	float: right;
	margin: 10px 235px;
}

textarea .b_admin {
	font-weight: bold;
	font-size: 13px;
	color: red;
}

.bar {
	float: right;
	margin-right: 200px;
}

.a1 {
	font-size: 13px;
}

.a2 {
	font-size: 13px;
}

.image {
	width: 140px;
	height: 90px;
}

.contents {
	width: 630px;
	height: 220.23px;
	font-size: 20px;
}

.replytext {
	margin: 7px 0 0 0px;
	width: 570px;
	height: 30px;
	padding: 5px;
	font-size: 15px;
	color: red;
}

input.reply {
	
}

.replybox {
	height: 100px;
}

.replycontent {
	height: 100px;
	font-size: 15px;
	color: red;
}

.replytext {
	padding-top: 5px;
}

.thistd {
	font-size: 15px;
}