@font-face {
	font-family: "nanum";
    src: url(../fonts/NanumGothic.eot); /* IE9 Compat Modes */
    src: url(../fonts/NanumGothic.eot?#iefix) format("embedded-opentype"), /* IE6-8 */
         url(../fonts/NanumGothic.woff) format("woff"), /* Mordern Browsers */
         url(../fonts/NanumGothic.ttf) format("truetype"); /* If not support woff */
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: "nanumB";
    src: url(../fonts/NanumGothicBold.eot); /* IE9 Compat Modes */
    src: url(../fonts/NanumGothicBold.eot?#iefix) format("embedded-opentype"), /* IE6-8 */
         url(../fonts/NanumGothicBold.woff) format("woff"), /* Mordern Browsers */
         url(../fonts/NanumGothicBold.ttf) format("truetype"); /* If not support woff */
    font-weight: bold;
    font-style: normal;
}