@charset "EUC-KR";

label{
	display: inline-block;
	width: 120px;
}
input{
	display: inline-block;
	width: 160px;
}
#image{
	width: 255px;
}

.code_01{
	width: 50px; 
}
.code_02{
	width: 50px; 
}