@charset "UTF-8";
#categori ul{
	list-style: none;
	text-align: center;
}
#categori ul li{
	display: inline;
}
.listName{
	boder: 1px;
	display: inline-block;
	width: 350px;
}
#divSmallVal{
	display: inline-block;
	width: 349px;
}
#divBigVal{
	display: inline-block;
	width: 349px;
}