@charset "UTF-8";

input {
	height: 22px;
}

select {
	width: 130px;
	height: 28px;
	margin: 5px 0;
}

img {
	height: 90px;
	width: 90px;
	margin: 5px 5px 5px 0;
	vertical-align: middle;
}

#warp {
	width: 0;
	float: left;
}

#listBox {
	width: 1250px;
	height: 715px;
	margin: auto;
}

#input-form {
	width: 100%;
	height: 40px;
	margin-left: 10px;
	margin-top: 10px;
}

#select_list {
	width: 48%;
	height: 87%;
	margin-left: 10px;
	margin-top: 10px;
	text-align: center;
	float: left;
	overflow: overlay;
}

#select_info {
	width: 48%;
	margin-left: 20px;
	float: left;
}

#list-table {
	width: 97%;
	border-collapse: collapse;
}

#list-table>thead>tr {
	background-color: #333;
	color: #fff;
}

#list-table>tbody>tr {
	border-bottom: 1px solid gray;
}

#list-table>tbody>tr>td {
	padding: 10px 0 10px 0;
	height: 25px;
}

#list-table>thead>tr>th:nth-child(4n+1) {
	width: 10%;
}

#list-table>thead>tr>th:nth-child(4n+2) {
	width: 20%;
}

#list-table>thead>tr>th:nth-child(4n+3) {
	width: 30%;
}

#list-table>thead>tr>th:nth-child(4n+4) {
	width: 20%;
}

#list-table>thead>tr>th:nth-child(4n+5) {
	width: 20%;
}

#list-table>tbody>tr>td:nth-child(4n+1) {
	width: 10%;
}

#list-table>tbody>tr>td:nth-child(4n+2) {
	width: 20%;
}

#list-table>tbody>tr>td:nth-child(4n+3) {
	width: 30%;
}

#list-table>tbody>tr>td:nth-child(4n+4) {
	width: 20%;
}

#list-table>tbody>tr>td:nth-child(4n+5) {
	width: 20%;
}

.table-list tbody tr:hover {
	background-color: #e5ce5838;
	cursor: pointer;
}

.clicked {
	background-color: #ec732c59;
}

.mode {
	padding: 0 10px 0 10px;
}

.imageForm {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.image_file_label {
	margin: 0px 3px 0 0;
	width: 48px;
	display: inline-block;
	padding: .5em .75em;
	color: #fff;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	text-align: center;
	background-color: #2dbcc3;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
}

#select_info label {
	margin: 0 5px 0 0;
}

#select_info div:first {
	height: 100px;
}

#select_info input[type='text'] {
	margin: 5px 0;
}

#select_info textarea {
	margin: 5px 0;
}

#select_info div label {
	vertical-align: middle;
}

#select_info div label:last-of-type {
	font: 400 13.3333px Arial;
	vertical-align: middle;
	margin: 0;
}

#select_info div input {
	float: left;
	margin: 36px 3px 0 0;
}

span>label:last-of-type {
	width: 75px;
	font: 400 13.3333px Arial;
	display: inline-block;
	word-break: break-all;
	vertical-align: middle;
}

form>input:last-of-type {
	width: 100px;
	margin: 15px 0 0 100px;
}

.box label {
	font: 400 13.3333px Arial;
}